@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
  background-color: #141319;
  color: #CCCBD4;
  font-family: 'Lato', sans-serif;
  font-size: calc(28px + 0.5vh + 1.5vw);
  letter-spacing: -0.015em;
  line-height: 1;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  line-height: 5rem;
}
html{
  scroll-behavior: smooth;
}
a, a:active, a:focus, a:hover{
  text-decoration: none;
  color: white
}

.typing{
  padding-top: 120px;
  padding-left: 80px;
  height: 100vh;
}
.Cursor {
  display: inline-block;
  margin-left: 5px;
  opacity: 1;
  color:#FC8300;
  animation: blink 1s linear infinite;
}
.portfolio-container{
  width: 100%;
  height: 100vh;
}
.clickme{
  color: #E2E1E2;
  border: 5px solid #E2E1E2;
  /* animation-name: portfolio-button; */
  background-position: 3rem ;
  background: repeating-linear-gradient(
    45deg,
    #232129,
    #232129 10px,
  #442475 10px,
  #442475 20px
  );
  background-color: #663399;
  animation-duration:1s;
  animation-iteration-count: infinite;
  margin-left:60px;
  padding-right:25px;
  padding-left:25px;
  padding-top:5px;
  padding-bottom:5px;
  animation-name: portfolio-button;
  font-size:45px;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  background-size: 414px 128px;
  background-position: left;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes portfolio-button {
  from {background-position: 0px 0px;}
  to{background-position: -207px  -64px}
}
.clickme:focus, .clickme:active, .clickme:hover, .clickme{
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.sidebar{
  position:fixed;
  top:0;
  height: 100vh;
  right: 0;
  width: 40px;
  
}
.mail{
  height: 10vh;
  background-color: #312F68;
  
}
.github{
  height: 30vh;
  background-color: #4E235D;
  
}
.instagram{
  height: 30vh;
  background-color: #73FFF7;
  color: #312F68!important;
}
.number{
  height: 30vh;
  color: #4E235D!important;
  background-color: #FDDF36;
}
.instagram:hover{
  width: 400px;
  transition: 0.5s;
}
.github:hover{
  width: 400px;
  transition: 0.5s;
}
.mail:hover{
  width: 400px;
  transition: 0.5s;
 
}
.number:hover{
  width: 400px;
  transition: 0.5s;
  
}
.number:hover .number-p {
  text-orientation: sideways-right!important;
  writing-mode: horizontal-tb!important;
}
.contact{
  display: block;
  float: right;
  width: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  COLOR : #E2E1E2;
}

  .number-p, .number-m, .number-i, .number-g {
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
  margin-left: 0px;
  padding-left: 0px;
  display: inline-table;
  float: left;
  margin-right: 0px;
  font-size: 17px;
  padding: 0px;
  width: 40px;
  text-align: -webkit-right;
  align-items: center;
  font-weight: bold;
  font-size:15px !important;
  letter-spacing: 1px;

}
.repo-container{
  font-size:20px;
}
.single-item{
    width: 20%;
    line-height: 30px;
    float: left;
    background-color: #232129;
    min-height: 300px;
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}
.name{
    font-weight: bold;
    color: #E2E1E2;
    margin-bottom: 10px;
}
.description{
    font-weight: 100;
    color: #ACABAE;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 30; 

}
.go-repo{
  text-decoration: none;
    color: #A170BB;
}
.stars{
  margin-top:20px;
}
.number-content, .github-content, .mail-content, .instagram-content{
  display: none;
  text-decoration: underline!important;
}
.number:hover .number-content {
  display: block;
  margin-left: 12px;
}
.github:hover .github-content {
  display: block;
  margin-left: 12px;
}
.github:hover .number-g {
  text-orientation: sideways-right!important;
  writing-mode: horizontal-tb!important;
}
.instagram:hover .instagram-content {
  display: block;
  margin-left: 12px;
 
}
.instagram-content a{
  color: #312F68!important;
  text-decoration: underline;
}

.instagram:hover .number-i {
  text-orientation: sideways-right!important;
  writing-mode: horizontal-tb!important;
}
.mail:hover .mail-content {
  display: block;
  margin-left: 12px;
}

.mail:hover .number-m {
  text-orientation: sideways-right!important;
  writing-mode: horizontal-tb!important;
}
.mail-content , .instagram-content, .number-content , .github-content {
  text-decoration: none;
}

@media only screen and (max-width: 580px) {
  .typing{
    padding-top: 40px;
    padding-left: 10px;
    height: 100vh;
    line-height: 50px;
    font-size: 25px;
    padding-right: 30px;

  }
  .clickme{
    font-size: 20px ;
    margin-left: 8px;
    border-radius: 5px;
    border: 3px solid white;
  }
  .single-item{
    width: 70%;
    margin: auto;
    display: table;
    margin-top:10px;
  }
}
